* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container.red {
    background-color: red;
}

#container.blue {
    background-color: blue;
}

#container.green {
    background-color: green;
}

#container.other {
    background-color: black;

}

#box {
    width: 80%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pwdgen {
    display: none;
    font-size: 14px;
    box-shadow: inset 2px 2px 20px black;
    background: white;
    border-radius: 40px;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
}

#pwdgen.visible {
    display: block;
    color: white;
    animation-name: colore-testo;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes colore-testo {
    0% { color: white; }
    100% { color: black; }
}

#pre-pwdgen.invisible {
    display: none;
}

@media (min-width:320px) {

    #pwdgen {
        font-size: 18px;
    }
}
@media (min-width:768px) {

    #pwdgen {
        font-size: 30px;
    }
}
