* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(140,11,11);
    background: linear-gradient(228deg, rgba(140,11,11,1) 0%, rgba(237,14,14,1) 40%, rgba(0,0,0,1) 100%);
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#box h1 {
    width: 80%;
    box-shadow: inset 2px 2px 20px grey;
    background: white;
    border-radius: 40px;
    padding: 20px;
}

#img-container {
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    border-radius: 40px;
    width: 80%;
    margin: 0 auto;
    object-fit: contain;
}

#pwdgen {
    display: none;
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
}

#pwdgen.visible {
    display: block;
}
